---
import Layout from "../../layouts/Layout.astro";
import PrayerTimeTable from "../../components/PrayerTimeTable.astro";
import Constants from "../../constants";
import { getWaktuSolat } from "../../util";

export async function getStaticPaths() {
	let returnedAry: any = [];

	for (const state in Constants.locations) {
		const location = Constants.locations,
			cities = location[state as keyof typeof location];
		for (const city in cities) {
			returnedAry.push({
				params: { state, city },
				props: {
					cities: Object.entries(cities),
					location: cities[city as keyof typeof cities],
				},
			});
		}
	}
	return returnedAry;
}

const { city, state } = Astro.params;
const { cities, location } = Astro.props;
const { hijri, date, day } = getWaktuSolat(city);
---

<Layout title={state + " - " + location} state={state} city={cities}>
	<div
		class="py-10 nav grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-5"
	>
		<!--	<div class="py-10 nav grid grid-cols-[20vw_minmax(60vw,_1fr)_80vw]">-->
		<div class="bg-base-200 rounded-box p-10">
			<h1 class="text-center text-xl font-bold">{location}</h1>
			<div class="flex justify-evenly items-center">
				<ul class="text-xs text-center py-10">
					<li>{hijri}</li>
					<li>{date}</li>
					<li>{day}</li>
				</ul>
				<small class="hidden">{hijri}, {date}, {day}</small>
			</div>
		</div>
		<div>
			<PrayerTimeTable />
		</div>
	</div>
</Layout>
