---
import PrayerTimeTable from "./PrayerTimeTable.astro";
import RandomTazkirah from "./RandomTazkirah.astro";
import Constants from "../constants";
import {
  getFormattedDate,
  getLocationFromZone,
  convertDateMonthDay,
} from "../util";
console.log(getFormattedDate());
const zoneParam = Astro.params.zone,
  location = zoneParam
    ? getLocationFromZone(zoneParam)
    : Constants.defaultSettings.city || localStorage.getItem("location"),
  zone = zoneParam
    ? zoneParam
    : Constants.defaultSettings.zone || localStorage.getItem("zone");

async function getPrayerTimeByZone() {
  return await import(`../prayertimes/2024/${zone}.json`);
}

async function getPrayerTimeDatas() {
  const allDatas = await getPrayerTimeByZone();
  const prayerTimeData = allDatas.default[0].prayerTime;
  let prayerTime: any = {};

  for (const key in prayerTimeData) {
    if (prayerTimeData[key].date === getFormattedDate()) {
      Object.assign(prayerTime, prayerTimeData[key]);
    }
  }

  return prayerTime;
}

const { hijri, date, day } = await getPrayerTimeDatas();
---

<div class="nav py-10 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
  <div class="p-4 bg-base-200 border rounded-box border-gray-700">
    <div class="flex pb-4">
      <ul class="text-xs text-gray-400">
        <li class="hidden">{hijri}</li>
        <li>{convertDateMonthDay(date)}</li>
        <li>{day}</li>
      </ul>
    </div>
    <h3>{location}</h3>
  </div>
  <div class="p-4 border rounded-box border-gray-700">
    <PrayerTimeTable data={await getPrayerTimeDatas()} />
  </div>
  <div class="p-4 border rounded-box border-gray-700">
    <RandomTazkirah />
  </div>
</div>
