---
import mainData from "../../public/prayertime/2024.json";
import Constants from "../constants";

const { city } = Astro.params,
 currentCityCode = city ? city : Constants.defaultSettings.waktuSolatStateCode,
 allWaktuSolat = mainData.data.data[0];

const currentDate = new Date(),
 monthNames = Object.values(Constants.monthMalay),
 dd = String(currentDate.getDate()).padStart(2, "0"),
 month = monthNames[currentDate.getMonth()],
 year = currentDate.getFullYear(),
 formattedDate = `${dd}-${month}-${year}`;

function findPrayerTimeByZoneAndDate(data: any, zone: any, date: string) {
 for (const row of data.rows) {
  if (row.zone === zone) {
   for (const prayerTime of row.prayerTime) {
    if (prayerTime.date === date) {
     return prayerTime;
    }
   }
  }
 }
 return null;
}

const waktuSolat = findPrayerTimeByZoneAndDate(
 allWaktuSolat,
 currentCityCode,
 formattedDate,
);

const { hijri, date, day, ...filteredObject } = waktuSolat; // exclude hijri, date, day
---

<div class="overflow-x-auto">
 <table class="table text-center">
  <thead>
   <tr>
    <th>Waktu</th>
    <th>Masa</th>
   </tr>
  </thead>
  <tbody>
   {
    Object.entries(filteredObject).map(([key, value]) => (
     <tr>
      <td>{key}</td>
      <td>
       <time>{value}</time>
      </td>
     </tr>
    ))
   }
  </tbody>
 </table>
</div>

<style>
 .currentPrayerTime {
  background-color: #ffb86c;
  color: #333;
 }
</style>
